<ng-scrollbar #scrollable 
  track="vertical" 
  visibility="hover" 
>

<div fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="10" fxLayoutWrap>
    <div fxFlex>
        <h3 fxLayoutAlign="center">Sistem Informasi Tata Ruang </h3>
        <h4 fxLayoutAlign="center">Kabupaten Klaten </h4>
         <span>
      <img class="sidebar-logo" src="../../../assets/images/logo_klaten.png">
    </span>
      </div>
  <div fxLayoutAlign="center" fxFlexOffset="10">
   
  </div>
</div>



<mat-nav-list (sidenavToggle)="printEvent($event)">
  <h3 mat-subheader>Tautan</h3>
  <a mat-list-item (click)="toggleActive($event)" routerLink="/home" >
    <mat-icon> home </mat-icon>
    <p mat-line> Halaman Depan</p>
  </a>
  <a mat-list-item (click)="toggleActive($event)" routerLink="/home">
    <mat-icon> info </mat-icon>
    <p mat-line> Informasi</p>
  </a>
  <a mat-list-item (click)="toggleActive($event)" routerLink="/home">
    <mat-icon> get_app </mat-icon>
    <p mat-line> Unduh Peraturan</p>
  </a>
  <a mat-list-item (click)="toggleActive($event)" routerLink="/home">
    <mat-icon> record_voice_over </mat-icon>
    <p mat-line> Pengaduan</p>
  </a>
  

</mat-nav-list>
</ng-scrollbar>




<!--
<div fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="10" fxLayoutWrap>
  <div fxLayoutAlign="center" fxFlexOffset="10">
    <a routerLink="/">
      <img class="sidebar-logo" src="../../../assets/images/logo_klaten.png">
    </a>
  </div>
  <div fxFlex>
    <h3>Sistem Informasi Tata Ruang </h3>
    <h4>Kabupaten Klaten </h4>
  </div>
  <div fxFlex fxFlexOffset="30">
    oleh
  </div>
  <div fxFlex>
    <strong> Pemerintah Kabupaten Klaten</strong> 
  </div>
  
  <footer fxFlex fxFlexOffset="15"> <i> <small> @2019 </small> </i> </footer>
</div>


-->



  <!--
<mat-nav-list>
    <p mat-list-item fxFlex>
      <i>kerjasama:</i>
    </p>
    <p mat-list-item fxFlex>
      <strong> Pemerintah Desa Karangtengah </strong>
    </p>
    <p mat-list-item fxFlex>
      <i> dan</i>
    </p>
    <p mat-list-item fxFlex>
      <strong> Universitas Gadjah Mada </strong>
    </p>


  </mat-nav-list>


-->
