<div #sitarumap id="map" class="map sidebar-map"></div>

<div id="sidebar" class="sidebar collapsed">
  <!-- Nav tabs -->
  <div [perfectScrollbar]  class="sidebar-tabs">
    <ul role="tablist">
      <li><a matTooltip="Layer Peta" href="#home" role="tab"><i class="fa fa-map"></i></a></li>
      <li><a matTooltip="Legenda" href="#profile" role="tab"><i class="fa fa-image"></i></a></li>
      <li><a (click)="openDialogCari()" matTooltip="Cari Koordinat" role="tab"><i class="fa fa-map-marker"></i></a></li>
    </ul>

    <ul role="tablist">
        <li><a matTooltip="Hapus seleksi" (click)="clearSelected()" target="_blank"><i class="fa fa-eraser"></i></a></li>
        <li><a [style.background-color] = "editMode ? 'transparent' : 'lightblue'" (click)="activateInfoMode()" matTooltip="Mode Info" role="tab"><i class="fa fa-info-circle"></i></a></li>
        <li *ngIf="(isLoggedIn | async)"><a [style.background-color] = "editMode ? 'lightblue' : 'transparent'" (click)="activateEditMode()"  matTooltip="Mode Edit" role="tab"><i class="fa fa-pencil"></i></a></li>
    </ul>
  </div>

  <!-- Tab panes -->
  <div class="sidebar-content">

    <div class="sidebar-pane" id="home">
      <h1 class="sidebar-header">
        Daftar Layer
        <span class="sidebar-close"><i class="fa fa-caret-right"></i></span>
      </h1>

      <!-- THE layer switcher https://viglino.github.io/ol-ext/examples/control/map.switcher.html -->
      <div #switcher id="layers" class="layer-switcher">
        <div></div>
      </div>

    </div>
    <div class="sidebar-pane" id="profile">
      <h1 class="sidebar-header">Legenda
        <span class="sidebar-close"><i class="fa fa-caret-right"></i></span>
      </h1>
      <div style="padding-top:10px">
        
          <mat-accordion>
            <mat-expansion-panel >
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Pola Ruang
                </mat-panel-title>

              </mat-expansion-panel-header>
              <div>
                <img
                  src="http://103.108.187.217/geoserver/sitaru/wms?REQUEST=GetLegendGraphic&VERSION=1.0.0&FORMAT=image/png&WIDTH=20&HEIGHT=20&LAYER=sitaru:pola_ruang">
              </div>
            </mat-expansion-panel>
            <mat-expansion-panel >
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Sistem Pusat Kegiatan
                </mat-panel-title>

              </mat-expansion-panel-header>
              <div>
                <img
                  src="http://103.108.187.217/geoserver/sitaru/wms?REQUEST=GetLegendGraphic&VERSION=1.0.0&FORMAT=image/png&WIDTH=20&HEIGHT=20&LAYER=sitaru:sistem_pusat_kegiatan">
              </div>
            </mat-expansion-panel>
            <mat-expansion-panel >
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Pusat Pemerintahan
                </mat-panel-title>

              </mat-expansion-panel-header>
              <div>
                <img
                  src="http://103.108.187.217/geoserver/sitaru/wms?REQUEST=GetLegendGraphic&VERSION=1.0.0&FORMAT=image/png&WIDTH=20&HEIGHT=20&LAYER=sitaru:pusat_pemerintahan">
              </div>
            </mat-expansion-panel>
            <mat-expansion-panel >
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Kawasan Rawan Bencana
                </mat-panel-title>

              </mat-expansion-panel-header>
              <div>
                <img
                  src="http://103.108.187.217/geoserver/sitaru/wms?REQUEST=GetLegendGraphic&VERSION=1.0.0&FORMAT=image/png&WIDTH=20&HEIGHT=20&LAYER=sitaru:kawasan_rawan_bencana">
              </div>
            </mat-expansion-panel>
            <mat-expansion-panel >
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Jaringan Jalan
                </mat-panel-title>

              </mat-expansion-panel-header>
              <div>
                <img
                  src="http://103.108.187.217/geoserver/sitaru/wms?REQUEST=GetLegendGraphic&VERSION=1.0.0&FORMAT=image/png&WIDTH=20&HEIGHT=20&LAYER=sitaru:jaringan_jalan">
              </div>
              
            </mat-expansion-panel>
            <mat-expansion-panel >
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Jaringan Kereta Api
                  </mat-panel-title>
  
                </mat-expansion-panel-header>
                <div>
                  <img
                    src="http://103.108.187.217/geoserver/sitaru/wms?REQUEST=GetLegendGraphic&VERSION=1.0.0&FORMAT=image/png&WIDTH=20&HEIGHT=20&LAYER=sitaru:jalan_ka">
                </div>
              </mat-expansion-panel>
            <mat-expansion-panel >
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Jaringan Energi
                </mat-panel-title>

              </mat-expansion-panel-header>
              <div>
                <img
                  src="http://103.108.187.217/geoserver/sitaru/wms?REQUEST=GetLegendGraphic&VERSION=1.0.0&FORMAT=image/png&WIDTH=20&HEIGHT=20&LAYER=sitaru:jaringan_energi">
              </div>
            </mat-expansion-panel>
            <mat-expansion-panel >
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Sungai
                </mat-panel-title>

              </mat-expansion-panel-header>
              <div>
                <img
                  src="http://103.108.187.217/geoserver/sitaru/wms?REQUEST=GetLegendGraphic&VERSION=1.0.0&FORMAT=image/png&WIDTH=20&HEIGHT=20&LAYER=sitaru:sungai">
              </div>
              <div>
                <img
                  src="http://103.108.187.217/geoserver/sitaru/wms?REQUEST=GetLegendGraphic&VERSION=1.0.0&FORMAT=image/png&WIDTH=20&HEIGHT=20&LAYER=sitaru:rawa_jombor">
              </div>
            </mat-expansion-panel>
            <mat-expansion-panel >
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Kawasan Strategis Prambanan
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div>
                <img
                  src="http://103.108.187.217/geoserver/sitaru/wms?REQUEST=GetLegendGraphic&VERSION=1.0.0&FORMAT=image/png&WIDTH=20&HEIGHT=20&LAYER=sitaru:kawasan_strategis_prambanan">

              </div>
            </mat-expansion-panel>
          </mat-accordion>
        
      </div>
    </div>

    <div class="sidebar-pane" id="settings">
      <h1 class="sidebar-header">Settings<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
    </div>

  </div>

  <div [hidden]="!showMarker" id="location-marker" class="marker">
      <img src="../../assets/images/flag.png">
      <span class="pulse"></span>
  </div>



  <div #popup id="popup" class="ol-popup">
    <a #popupcloser href="#" id="popup-closer" class="ol-popup-closer"></a>
    <div #popupcontent id="popup-content"></div>
  </div>
