<mat-toolbar style="max-height:50px" color="primary">
  <span>
    <button mat-icon-button (click)="onClicked()">
      <mat-icon>menu</mat-icon>
    </button>
  </span>
  <span>
    <h3>
      WebGIS Sitaru Kabupaten Klaten
    </h3>
  </span>
  <span class="example-spacer"></span>

  <button  matTooltip="Halaman Depan"
   mat-icon-button routerLink="/" aria-label="sitaru admin">
    <mat-icon  class="unlogged-icon" aria-hidden="false" aria-label="user verified icon">home
    </mat-icon>
  </button>

</mat-toolbar>
