.map {
    width: 100%;
    min-width: 600px;
    min-height: 400px;
  }

  
.marker img{
  width: 50px;
  top: -48px;
  left: -9px;
  position: absolute;
  z-index: 10;
}
  

  
.pulse {
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    /* border: 2px solid #029edf;
    background: #029edf; */
    cursor: pointer;
    box-shadow: 0 0 0 rgba(244,115,120, 0.4);
    animation: pulse 1s infinite;
    margin: 0px;
    position: absolute;
    left: -4px;
    top: -4px;
    // opacity: 0.5;
    // background: none;
  }
  .pulse:hover {
  animation: none;
  }
  
  @-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(244,115,120, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(244,115,120, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(244,115,120, 0);
  }
  }
  @keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(244,115,120, 0.4);
    box-shadow: 0 0 0 0 rgba(244,115,120, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 30px rgba(244,115,120, 0);
      box-shadow: 0 0 0 30px rgba(244,115,120, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(244,115,120, 0);
      box-shadow: 0 0 0 0 rgba(244,115,120, 0);
  }
  }
  